.profile {
    background-color: #EDEEF0;

    display: grid;
    grid-template-areas:
    "h h"
    "c s";
    grid-template-columns: 70% 30%;
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.sidebar {
    grid-area: s;
}