.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
