.header {
    grid-area: h;

    display: grid;
    grid-template-columns: 90% 10%;

    width: 100%;

    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.12);

    padding-top: 5px;
}

.title {
    display: block;
    padding-left: 30px;
    padding-bottom: 20px;
}
