.navbar {
    grid-area: n;
    padding: 20px;
    background-color: #EDEEF0;
}

.item {
    display: block;

    margin-top: 3px;
    padding: 0.5px 7px 0.5px 7px;

    color: black;
    text-decoration: none;
}

.item p {
    font-size: 14pt;
}

.active {
    background-color: #c9c9c9;
}

.item:hover {
    background-color: #dbdbdb ;
}

