.loginBlock {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
}

.loginBlock a {
    text-decoration: none;
    color: black;
}

.logoutButton {
    height: max-content;
    width: 70px;
}

.userPhotoBlock img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
