.post{
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.15);

    display: grid;
    grid-template-rows: 1fr auto 1fr;

    margin-top: 20px;
    margin-left: 50px;

    width: 80%;
    height: auto;
    max-height: 1000px;

    border-radius: 6px;
}
